<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Results</h2>
    </div>
  </div>
</div>

<div class="container mb-4" *ngFor="let tq of triviaQuestions; index as i;">
  <div class="row">
    <div class="col-12 mb-2">
      {{ tq.question }}
    </div>

    <div class="col-12 col-sm-3 mb-3" *ngFor="let qa of questionAnswers[i]">
      <button
        class="w-100 answer-btn"
        [ngClass]="{
          selected: qa.isCorrect
        }"
      >
        {{ qa.answer }}
      </button>
    </div>
  </div>
</div>
