<div class="container">
  <!-- add g-0 to row if you want them touching like doc -->
  <form class="row" [formGroup]="dropdownForm">
    <div class="col-12 col-sm-5 mt-5 mb-2">
      <select
        class="form-select"
        aria-label="Default select example"
        id="categorySelect"
        formControlName="category"
      >
        <option value="">Select a category</option>
        <option *ngFor="let tc of triviaCategories" [ngValue]="tc.id">
          {{ tc.name }}
        </option>
      </select>
    </div>
    <div class="col-12 col-sm-5 mt-5 mb-2">
      <select
        class="form-select"
        aria-label="Default select example"
        id="difficultySelect"
        formControlName="difficulty"
      >
        <option value="">Select difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <div class="col-12 col-sm-2 mt-5 mb-2">
      <button
        type="submit"
        class="btn btn-secondary w-100"
        id="creatBtn"
        [disabled]="!dropdownForm.valid"
        (click)="getQuestions()"
      >
        Create
      </button>
    </div>
  </form>
</div>

<div *ngIf="triviaQuestions.length > 0">
  <div *ngFor="let tc of triviaQuestions">
    <app-quiz [triviaQuestion]="tc"></app-quiz>
  </div>
</div>
